NEXT_PUBLIC_SHOW_LOGGER=true
NEXT_AUTH_SECRET=digitsense-carlisle-erp
NEXT_PUBLIC_BASE_URL=https://carlisle.staging.digit-sense.com
NEXT_BASE_LOCAL_URL=http://localhost:3000

STORYBOOK_TOKEN=53493d9912a7

MONGODB_URI=mongodb+srv://carlisle-erp:mDEPVKqDMZSeOfzF@cluster0.sw3r4fy.mongodb.net/carlisle-staging?retryWrites=true&w=majority
MONGODB_URI_LOCAL=mongodb://localhost:27017

SMTP_HOST=smpt.gmail.com
SMTP_SERVICE=gmail
SMTP_PORT=465
SMTP_USER=info@digit-sense.com
SMTP_PASSWORD=obadsfkvinuaikqt
SMTP_ADMIN_EMAIL=info@digit-sense.com
SMTP_FROM=DigitSense
SMTP_FROM_EMAIL=info@digit-sense.com

