@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-nero: 39 36 37;
  --tw-color-improbable: 109 114 117;
  --tw-color-adirondack: 176 183 195;
  --tw-color-beluga: 239 241 242;
  --tw-color-maculata-bark: 173 167 162;
  --tw-color-belcher-metal: 137 140 143;
  --tw-color-platinum-grey: 105 107 111;
  --tw-color-poppy-surprise: 255 86 48;
  --tw-color-icicles: 186 195 200;
  --tw-color-polar-drift: 206 212 217;
  --tw-color-shisha-coal: 61 58 59;
  --tw-color-black-out: 33 34 35;
  --tw-color-super-silver: 238 238 238;
  --tw-color-silverback: 203 203 203;
  --tw-color-disable: 223 225 226;
  --tw-color-white-smoke: 243 243 243;
  --tw-color-whisper: 230 230 230;
  --tw-color-alice-blue: 250 251 252;
  --tw-color-azure: 248 250 250;
  --tw-color-ebony-clay: 33 33 60;

  --color-nero: rgb(var(--tw-color-nero)); /* #272425 */
  --color-improbable: rgb(var(--tw-color-improbable)); /* #6D7275 */
  --color-adirondack: rgb(var(--tw-color-adirondack)); /* #B0B7C3 */
  --color-beluga: rgb(var(--tw-color-beluga)); /* #EFF1F2 */
  --color-maculata-bark: rgb(var(--tw-color-maculata-bark)); /* #ADA7A2 */
  --color-belcher-metal: rgb(var(--tw-color-belcher-metal)); /* #898C8F */
  --color-platinum-grey: rgb(var(--tw-color-platinum-grey)); /*#696C6F */
  --color-poppy-surprise: rgb(var(--tw-color-poppy-surprise)); /* #FF5630 */
  --color-icicles: rgb(var(--tw-color-icicles)); /* #BAC3C8 */
  --color-polar-drift: rgb(var(--tw-color-polar-drift)); /* #CED4D9 */
  --color-shisha-coal: rgb(var(--tw-color-shisha-coal)); /* #3D3A3B */
  --color-black-out: rgb(var(--tw-color-black-out)); /* #212223 */
  --color-super-silver: rgb(var(--tw-color-super-silver)); /* #EEEEEE */
  --color-silverback: rgb(var(--tw-color-silverback)); /* #CBCBCB */
  --color-disable: rgb(var(--tw-color-disable)); /* #DFE1E2 */
  --color-white-smoke: rgb(var(--tw-color-white-smoke)); /* #F3F3F3 */
  --color-whisper: rgb(var(--tw-color-whisper)); /* #E6E6E6 */
  --color-alice-blue: rgb(var(--tw-color-alice-blue)); /* #FAFBFC */
  --color-azure: rgb(var(--tw-color-azure)); /* #F8FAFA */
  --color-ebony-clay: rgb(var(--tw-color-ebony-clay)); /* #21213C */
}

@layer base {
  @font-face {
    font-family: Gotham;
    font-weight: 700;
    src: url(/fonts/Gotham/GothamBold.ttf) format("ttf");
  }
  @font-face {
    font-family: Gotham;
    font-weight: 500;
    src: url(/fonts/Gotham/GothamMedium.ttf) format("ttf");
  }
  @font-face {
    font-family: Gotham;
    font-weight: 300;
    src: url(/fonts/Gotham/GothamLight.ttf) format("ttf");
  }
}

@layer components {
  .nav-link-active > span > img,
  .nav-link:hover > span > img {
    filter: invert(8%) sepia(0%) saturate(0%) hue-rotate(25deg) brightness(150%)
      contrast(87%);
  }

  .nav-link:hover > p,
  .nav-link-active > p {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    color: rgb(var(--tw-color-super-silver) / var(--tw-text-opacity));
  }

  .disabled-pagination {
    cursor: not-allowed;
    filter: invert(98%) sepia(5%) saturate(465%) hue-rotate(173deg)
      brightness(91%) contrast(91%);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-polar-drift);
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--color-polar-drift);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--color-belcher-metal);
  }

  .table-overflow::-webkit-scrollbar {
    height: 0.5rem;
  }

  .table-overflow::-webkit-scrollbar-thumb {
    border-radius: unset;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
