@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-primary-50: 239 241 242;
  --tw-color-primary-100: 238 238 238;
  --tw-color-primary-200: 176 183 195;
  --tw-color-primary-300: 109 114 117;
  --tw-color-primary-400: 39 36 37;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #EFF1F2 */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #EEEEEE */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #B0B7C3 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #6D7275 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #272425 */

  --tw-color-secondary-50: 173 167 162;
  --tw-color-secondary-100: 137 140 143;
  --tw-color-secondary-200: 105 107 111;
  --tw-color-secondary-300: 255 86 48 1;
  --color-secondary-50: rgb(var(--tw-color-secondary-50)); /* #ADA7A2 */
  --color-secondary-100: rgb(var(--tw-color-secondary-100)); /* #898C8F */
  --color-secondary-200: rgb(var(--tw-color-secondary-200)); /* #696C6F */
  --color-secondary-300: rgb(var(--tw-color-secondary-300)); /* #FF5630 */

  --tw-color-tertiary-50: 206 212 217;
  --tw-color-tertiary-100: 186 195 200;
  --tw-color-tertiary-200: 61 58 59;
  --tw-color-tertiary-300: 33 34 35;
  --color-tertiary-50: rgb(var(--tw-color-tertiary-50)); /* #CED4D9 */
  --color-tertiary-100: rgb(var(--tw-color-tertiary-100)); /* #BAC3C8 */
  --color-tertiary-200: rgb(var(--tw-color-tertiary-200)); /* #3D3A3B */
  --color-tertiary-300: rgb(var(--tw-color-tertiary-300)); /* #212223 */
}

@layer base {
  @font-face {
    font-family: Gotham;
    font-weight: 700;
    src: url(/fonts/Gotham/GothamBold.ttf) format("ttf");
  }
  @font-face {
    font-family: Gotham;
    font-weight: 500;
    src: url(/fonts/Gotham/GothamMedium.ttf) format("ttf");
  }
  @font-face {
    font-family: Gotham;
    font-weight: 300;
    src: url(/fonts/Gotham/GothamLight.ttf) format("ttf");
  }
}

@layer components {
  .nav-link-active > span > img,
  .nav-link:hover > span > img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(25deg)
      brightness(150%) contrast(87%);
  }

  .nav-link:hover > p,
  .nav-link-active > p {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    color: rgb(var(--tw-color-primary-100) / var(--tw-text-opacity));
  }
}
