@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap");
@import url("https://cdn.statically.io/gist/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/fad2f254369fb54250260077a4c87391a6280c52/gotham.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-gray-50: 239 241 242;
  --tw-color-gray-100: 238 238 238;
  --tw-color-gray-200: 162 168 173;
  --tw-color-gray-300: 137 140 143;
  --tw-color-gray-400: 109 114 117;
  --tw-color-gray-500: 105 107 111;
  --tw-color-gray-600: 61 58 59;
  --tw-color-gray-700: 39 36 37;
  --tw-color-gray-800: 33 34 35;
  --color-gray-50: rgb(var(--tw-color-gray-50)); /* #EFF1F2 */
  --color-gray-100: rgb(var(--tw-color-gray-100)); /* #EEEEEE */
  --color-gray-200: rgb(var(--tw-color-gray-200)); /* #A2A8AD */
  --color-gray-300: rgb(var(--tw-color-gray-300)); /* #898C8F */
  --color-gray-400: rgb(var(--tw-color-gray-400)); /* #6D7275 */
  --color-gray-500: rgb(var(--tw-color-gray-500)); /* #696C6F */
  --color-gray-600: rgb(var(--tw-color-gray-600)); /* #3D3A3B */
  --color-gray-700: rgb(var(--tw-color-gray-700)); /* #272425 */
  --color-gray-800: rgb(var(--tw-color-gray-800)); /* #212223 */
}

@layer components {
  .nav-link-active,
  .nav-link:hover > svg > path {
    fill: var(--color-gray-100);
  }
}
